In [1]:
import numpy as np
import pandas as pd

In [2]:
works_df = pd.read_csv('20210226-stats/works-20210226.csv')
works_df.shape

In [ ]:
tag_df = pd.read_csv('20210226-stats/tags-20210226.csv')
tag_df.shape

In [6]:
works_df.sample(5)

,creation date,language,restricted,complete,word_count,tags,Unnamed: 6
4270923,2017-08-04,en,False,False,743.0,10+582724+10916959+23+16+511378+2572+17678559+...,NaN
4996396,2016-08-18,en,False,True,50104.0,10+16+236208+2271+67567,NaN
6107673,2014-09-13,en,False,True,242.0,10+23+16+258526+272025+1458088+575891+7844+642...,NaN
2208168,2019-10-10,en,False,False,2309.0,9+603694+34069180+2935013+4766949+35658584+116...,NaN
6036628,2014-11-13,en,False,True,1381.0,11+24+14+2730336+2739831+2739852+2902719+29027...,NaN

In [13]:
tag_df.sample(5)

                id          type      name  canonical  cached_count  merger_id
7277085   27723904  Relationship  Redacted      False             1   736900.0
13896556  53236626      Freeform  Redacted      False             1        NaN
2791961    9009502      Freeform  Redacted      False             1        NaN
10632003  40901638      Freeform  Redacted      False             2        NaN
13538383  51920916      Freeform  Redacted      False             1        NaN

In [14]:
tag_df.name.value_counts()

Redacted                                    12845163
张继科/马龙                                             1
Pearl/Blue Pearl/Yellow Pearl                      1
Archibald Craven/Neville Craven                    1
Kanda Yuu/Lavi/Tyki Mikk/Allen Walker              1
                                              ...
Discussion of suicidal ideation                    1
Chuck Testa                                        1
Seo Sangwon | Yano/Yu Sangdo                       1
Pablo Acosta Villarreal/Mimi Webb Miller           1
The Doctor (Doctor Who)/Rose Tyler                 1
Name: name, Length: 1621974, dtype: int64